<h2>My Heroes</h2>

<div>
  <label>Hero name:
    <input #heroName/>
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(heroName.value); heroName.value=''">
    add
  </button>
</div>

<ul class="heroes">
  <!--&lt;!&ndash;添加[class.selected]绑定 添加单击事件绑定&ndash;&gt;-->
  <!--<li *ngFor="let hero of heroes" [class.selected]="hero === selectedHero" (click)="onSelect(hero)">-->
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
    <button class="delete" title="delete hero"
            (click)="delete(hero)">x
    </button>
  </li>
</ul>
